.menu {
  width: 20%;
  min-width: 300px;
  padding: 10px 20px;
  background: black;
  border: 0.5px solid grey;

  .new-notebook-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    button {
      cursor: pointer;
      transform: scale(0.6);
      fill: white;
      background: transparent;
      border: none;
    }
  }

  .notebook-container {
    padding: 0px 30px;
    .searcher-container {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        transform: scale(0.5);
        fill: white;
        opacity: 0.5;
      }

      input {
        background: transparent;
        border: none;
        opacity: 0.5;
        color: white;
      }
    }

    .notebooks {
      .notebook {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        span {
          transform: scale(0.5);
          fill: white;
        }
      }
    }
  }
}
