.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  width: 230px;
  height: 100vh;
  background-color: rgb(36, 36, 36);

  h1 {
    font-size: 2rem;
  }

  button {
    padding: 10px 30px;
    margin: 10px 0px;
  }

  .notes {
    margin: 20px 30px;
    h2 {
      padding: 10px;
      cursor: pointer;
    }

    h2:hover {
      text-decoration: underline;
    }
  }
}
