.markdown {
	width: 100%;
  input {
		background: transparent;
		border: none;
		color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
  }
  .markdown-editor-visualizer {
		display: flex;
  }
}
