.markdown {
	width: 100%;
	height: 100vh;
  input {
		height: 10vh;
		background: transparent;
		border: none;
		color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
  }
  .markdown-editor-visualizer {
		height: 90vh;
		display: flex;
  }
}
